* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* box-sizing: border-box; */
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  padding: 2rem;
}

/* custom scroll-bar for the body */
body::-webkit-scrollbar {
  width: 0.8em;
}

body::-webkit-scrollbar-track {
  background-color: #e6e6e6;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #61754f 0%, #ffd579 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}
/* end of custom scroll- bar of the body */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.welcome {
  font-size: 1.9rem;
  font-weight: 500;
}

.logo {
  height: 5.25rem;
}

.login {
  display: flex;
}

.login__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::placeholder {
  color: #bbb;
}

.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: #777;
}

/* MAIN */
.app {
  position: relative;
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;

  /* NOTE This creates the fade in/out anumation */
  opacity: 0;
  transition: all 1s;
}

.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
}

/* MOVEMENTS */
.movements {
  grid-row: 2 / span 3;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
}

.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements__type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__value {
  font-size: 1.7rem;
  margin-left: auto;
}

/* custom scroll-bar for the movement */
.movements::-webkit-scrollbar {
  width: 0.8em;
  height: 0.8em;
}

.movements::-webkit-scrollbar-track {
  background-color: #e6e6e6;
  border-radius: 100px;
}

.movements::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #9be15d 0%, #e52a5a 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}
/* end of custom scroll- bar of the movement */

/* SUMMARY */
.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

.btn--sort {
  margin: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

/* OPERATIONS */
.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--loan {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

/* Exceptions for interst */
.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
  grid-row: 2;
}
/* End exceptions */

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.loan--info {
  font-size: 1.1em;
  font-style: italic;
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}

.timer {
  font-weight: 600;
}

/* Media query */
@media only screen and (max-width: 920px) {
  nav {
    padding: 0;
  }

  .app {
    grid-template-columns: 55%;
  }

  .summary {
    flex-wrap: wrap;
  }

  .operation {
    padding: 3rem 3rem;
  }

  .loan--info {
    text-align: center;
  }
}

@media only screen and (max-width: 750px) {
  nav {
    flex-direction: column;
    padding: 0;
  }

  .logo {
    margin: 10px 0;
  }

  .app {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

  .balance__label {
    font-size: 1.7rem;
  }

  .balance__date {
    font-size: 1.4rem;
  }

  .balance__value {
    font-size: 3.2rem;
  }

  .movements {
    height: 50vh;
    width: 90vw;
  }

  .movements__date {
    margin-right: 10px;
  }

  .movements__row {
    justify-content: space-between;
    padding: 2rem 3rem;
    align-items: center;
    flex-wrap: wrap;
  }

  .summary {
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
  }

  .operation {
    padding: 3rem 2rem;
  }

  .operation--loan,
  .operation--close {
    margin-top: 0;
  }

  .form.form--loan {
    grid-template-columns: 3.5fr 1fr 1.5fr;
  }

  .logout-timer {
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 0;
  }
}

@media only screen and (max-width: 420px) {
  .balance {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .balance__value {
    margin-top: 1rem;
    font-size: 3.5rem;
  }

  .balance__label {
    font-size: 1.9rem;
  }

  .balance__date {
    font-size: 1.6rem;
  }
  .summary__value {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .summary__label {
    margin-right: 0.5rem;
  }

  .btn--sort {
    margin: 0;
  }
}
